.profile-wrapper {
  @include box-shadow;
  padding: 50px;
  border-radius: 10px;
  box-sizing: border-box;
  grid-template-columns: 1fr 2fr;

  .left-panel {
    text-align: center;

    .person-icon {
      * {
        font-size: 4rem;
        color: $theme-primary;
      }
    }

    .username {
      padding: 20px 0 20px 0;
    }
  }


}